
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- <h3>Show your work with this beautiful theme</h3> -->
					<h1>edge</h1>
					<h3>Welcome to the Edge! Edge is building a bigger, more active startup community for undergraduates by pooling the resources of the groups called Built@UChicago, StartupUChicago, and Uncommon Ventures. Check out how Edge can help you meet your next co-founder, learn to code, or get an inside look at early-stage investing.</h3>
					<!-- <h5>More Lorem Ipsum added here too.</h5> -->
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<!-- <img src="assets/img/browser.png" class="img-responsive"> -->
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<!-- <i class="fa fa-heart-o"></i> -->
					<%= image_tag "flask.png" %>
 					<h4>Accelerator</h4>
 					<p>Apply with a team and an idea. We'll help with everything else -- mentors, space, and resources to build up your company from the ground up.</p>
 					<p><br/><a href="#" class="btn btn-theme">Apply Winter Quarter</a></p>
 				</div>
 				<div class="col-md-4">
 					<!-- <i class="fa fa-flask"></i> -->
					<%= image_tag "keyboard.png" %>
 					<h4>Technology</h4>
 					<p>Apply to be part of our quarter long eduational track, where we'll teach everything from code to design so you can build anything you want.</p>
 					<p><br/><a href="#" class="btn btn-theme">Applications Open</a></p>
 				</div>
 				<div class="col-md-4">
 					<!-- <i class="fa fa-trophy"></i> -->
					<%= image_tag "lightbulb.png" %>
 					<h4>Venture</h4>
 					<p>Apply to be part of a deal team that learns about VC, sourcing deals, and doing due diligence. We work with local VCs and entrepreneurs, like HPA and Sanbox.</p>
 					<p><br/><a href="#" class="btn btn-theme">Applications Open</a></p>
 				</div>
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
